.frame {
    background-color: #15181a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
  
.frame .div {
  background-color: #15181a;
  width: 1512px;
  height: 982px;
  position: relative;
}
 .frame .nama-muhammad-aulia{
    position: absolute;
    width: 1049px;
    top: 416px;
    left: 89px;
    font-family: "inter-Regular", Helvetica;
    font-weight: 400;
    color: #999999;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 40px;
 }
 .frame .next{
   font-family:Helvetica;
   font-size: 50px;
   color: white;
 }
