:root {
    --green: rgba(46, 235, 170, 1);
    --yellow: rgba(255, 238, 74, 1);
    --purple: rgba(170, 136, 255, 1);
    --pink: rgba(255, 85, 136, 1);
    --blue: rgba(68, 170, 255, 1);
  }
  